/vendor/
/composer.lock
/.phpunit.cache/
/.phpunit.result.cache
/.phpstan.cache/
/.phpcs-cache
/coverage/
/build/
/var/
/customer-docs/
/tests/Compatibility/*/vendor/
/tests/Compatibility/*/composer.lock
/.idea/
/.vscode/
.DS_Store
